@import "../common/bootstrap/css/bootstrap.min.css?v=4.0.0-alpha.5";
@import "../common/font-awesome/css/font-awesome.min.css?v=4.7.0";
@import "css/fonts.css?v=1.4.0";
@import "css/forms.css?v=1.4.0";
@import "css/custom.css?v=1.4.0";
@import "css/tabpane.css";
@import "css/contextmenu.css";
@import "css/main.css";

html {
  --main-color: #0e80cb;
  --main-font-size: 0.8125rem;
  --dark-sidebar: #0e80cb;/*#202329*/
  --default-grey: #383f48;
  --medium-grey: #3c434e;
  --dark-grey: #272c33;
/* menu */
  --main-menu-color: #0e80cb;
  --main-menu-font-size: 0.9rem;
/* tree */
  --item-tree-color: #0275d8;
  --dark-item-tree-color: #1792fd;
/* tabs */
  --selected-tabs-color: #0e80cb;
  --selected-tabs-txt-color: #fff;
  --dark-selected-tabs-color: #0e80cb;
  --dark-selected-tabs-txt-color: #fff;
/* links */
  --links-color: #0275d8;
  --links-hover-color: #014c8c;
  --dark-links-hover-color: #1792fd;
}

/*login*/
body div.page{background-color: var(--main-color);}
body.dark div.page{background-color: var(--main-color);}
.loginbox{box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);transition: all 0.5s ease-in-out;}
.loginbox:hover{box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.5), 0 5px 5px 0 rgba(0, 0, 0, 0.54)}
.loginbox #logocustom{display:block;margin:0 auto;max-height:180px;}
